* {
  font-family: "JetBrains Mono";
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button,
#pulseaudio,
#clock,
#battery,
#backlight,
#network,
#custom-sleep,
#custom-off,
#custom-logout,
#custom-lock {
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

#workspaces button {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgb(255, 255, 220);
}

#workspaces button.urgent {
  background-color: rgb(255, 255, 220);
}

#custom-sleep,
#custom-off,
#custom-logout,
#custom-lock {
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

#custom-sleep:hover,
#custom-off:hover,
#custom-logout:hover,
#custom-lock:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
