@import "mocha.css";

* {
  font-family: "JetBrains Mono";
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  font-size: 16px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#workspaces button {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.6);
}

#workspaces button.urgent {
  background-color: @maroon;
}

#clock {
  color: @maroon;
  border-bottom: 2px solid @maroon;
}

#clock.date {
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#pulseaudio {
  color: @blue;
  border-bottom: 2px solid @blue;
}

#network {
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#battery {
  color: @green;
  border-bottom: 2px solid @green;
}

#backlight {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}
