@import "../colors.css";

* {
  font-family: "JetBrains Mono";
  font-size: 16px;
  border: none;
}

/* Window */
window {
  border-radius: 8px;
  background-color: transparent;
}

/* Inner Box */
#inner-box {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Outer Box */
#outer-box {
  background-color: transparent;
}

/* Input */
#input {
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

#text {
  margin: 5px;
  border: none;
}

#entry {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

/* Selected Entry */
#entry:selected {
  background-color: rgba(100, 100, 100, 0.1);
}
